html, body{
    width: 100%;
    height: 100%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 100%;
}

.container div{
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 1%;
}

.input-style{
    width: 90%;
    height: 1.8rem;
    margin-top: .5rem;
    border-radius: .5rem;
    padding-left: .5rem;
    border-top: .1rem solid #16A9C3;
    border-left: .1rem solid #1636C3;
    border-bottom: .1rem solid #5316C3;
    border-right: .1rem solid #A116C3;
}

.input-style:focus{
    color: white;
    background-color: #16A9C3;
    
}

.input-style:focus-visible{
    border: 1px solid red;
}

.input-style:hover{
    border: .1rem solid #16A9C3;
}

.text-label{
    text-transform: uppercase;
}

.btn{
    background-color: #16A9C3;
    color: white;
    font-size: 1rem;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    transition: .5s;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover{
    box-shadow: 1px 1px 5px black;
}

table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

.border-bottom{
    border-bottom: 1px solid #DFE8E8;
}